# Copyright (c) 2026 Huawei Technologies Co., Ltd. All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu
torch_npu==2.10.0rc2
torchtitan==0.2.1
triton_ascend
pybind11
scipy
importlib_metadata
einops
expecttest
tomli_w
transformers